<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="home-video-wrapper">
  <%= video_tag "stop-pull-harness-hd-1080.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <h1 class = "home"> Explore a new level</h1>
</div>


